In [1]:
from config import wine_key
import json
import requests
import pandas as pd
from pandas.io import sql
from sqlalchemy import create_engine

In [2]:
url = "https://api.globalwinescore.com/globalwinescores/latest/"
token='Token ' + wine_key
articles = requests.get(url, headers={'Accept': 'application/json', 'Authorization': token}).json()

In [3]:
api_df=pd.DataFrame(articles['results'])
api_df_by_country=api_df.groupby("country").mean()
api_df_by_country=pd.DataFrame(api_df_by_country["score"])
api_df_by_country.index.values[5]="US"
api_df_by_country

                 score
country
Argentina    91.270000
France       92.395490
Italy        92.516667
Lebanon      93.750000
New Zealand  89.540000
US           95.881163

In [4]:
csv_path="winemag-data-130k-v2.csv"
csv_df=pd.read_csv(csv_path)
csv_df_by_country=csv_df.groupby("country").mean()
csv_df_by_country=csv_df_by_country[["points","price"]]
csv_df_by_country

                           points      price
country
Argentina               86.710263  24.510117
Armenia                 87.500000  14.500000
Australia               88.580507  35.437663
Austria                 90.101345  30.762772
Bosnia and Herzegovina  86.500000  12.500000
Brazil                  84.673077  23.765957
Bulgaria                87.936170  14.645390
Canada                  89.369650  35.712598
Chile                   86.493515  20.786458
China                   89.000000  18.000000
Croatia                 87.219178  25.450704
Cyprus                  87.181818  16.272727
Czech Republic          87.250000  24.250000
Egypt                   84.000000        NaN
England                 91.581081  51.681159
France                  88.845109  41.139120
Georgia                 87.686047  19.321429
Germany                 89.851732  42.257547
Greece                  87.283262  22.364425
Hungary                 89.191781  40.648276
India                   90.222222  13.333333
Israel                  88.471287  31.768916
Italy                   88.562231  39.663770
Lebanon                 87.685714  30.685714
Luxembourg              88.666667  23.333333
Macedonia               86.833333  15.583333
Mexico                  85.257143  26.785714
Moldova                 87.203390  16.745763
Morocco                 88.571429  19.500000
New Zealand             88.303030  26.931785
Peru                    83.562500  18.062500
Portugal                88.250220  26.218256
Romania                 86.400000  15.241667
Serbia                  87.500000  24.500000
Slovakia                87.000000  16.000000
Slovenia                88.068966  24.812500
South Africa            88.056388  24.668987
Spain                   87.288337  28.215275
Switzerland             88.571429  85.285714
Turkey                  88.088889  24.633333
US                      88.563720  36.573464
Ukraine                 84.071429   9.214286
Uruguay                 86.752294  26.403670

In [46]:
#csv_df["year"]=csv_df["title"].str.extract('(\d+)')

In [9]:
wines_by_country=api_df_by_country.merge(csv_df_by_country, how="outer", on="country").reset_index()
wines_by_country

                   country      score     points      price
0                Argentina  91.270000  86.710263  24.510117
1                   France  92.395490  88.845109  41.139120
2                    Italy  92.516667  88.562231  39.663770
3                  Lebanon  93.750000  87.685714  30.685714
4              New Zealand  89.540000  88.303030  26.931785
5                       US  95.881163  88.563720  36.573464
6                  Armenia        NaN  87.500000  14.500000
7                Australia        NaN  88.580507  35.437663
8                  Austria        NaN  90.101345  30.762772
9   Bosnia and Herzegovina        NaN  86.500000  12.500000
10                  Brazil        NaN  84.673077  23.765957
11                Bulgaria        NaN  87.936170  14.645390
12                  Canada        NaN  89.369650  35.712598
13                   Chile        NaN  86.493515  20.786458
14                   China        NaN  89.000000  18.000000
15                 Croatia        NaN  87.219178  25.450704
16                  Cyprus        NaN  87.181818  16.272727
17          Czech Republic        NaN  87.250000  24.250000
18                   Egypt        NaN  84.000000        NaN
19                 England        NaN  91.581081  51.681159
20                 Georgia        NaN  87.686047  19.321429
21                 Germany        NaN  89.851732  42.257547
22                  Greece        NaN  87.283262  22.364425
23                 Hungary        NaN  89.191781  40.648276
24                   India        NaN  90.222222  13.333333
25                  Israel        NaN  88.471287  31.768916
26              Luxembourg        NaN  88.666667  23.333333
27               Macedonia        NaN  86.833333  15.583333
28                  Mexico        NaN  85.257143  26.785714
29                 Moldova        NaN  87.203390  16.745763
30                 Morocco        NaN  88.571429  19.500000
31                    Peru        NaN  83.562500  18.062500
32                Portugal        NaN  88.250220  26.218256
33                 Romania        NaN  86.400000  15.241667
34                  Serbia        NaN  87.500000  24.500000
35                Slovakia        NaN  87.000000  16.000000
36                Slovenia        NaN  88.068966  24.812500
37            South Africa        NaN  88.056388  24.668987
38                   Spain        NaN  87.288337  28.215275
39             Switzerland        NaN  88.571429  85.285714
40                  Turkey        NaN  88.088889  24.633333
41                 Ukraine        NaN  84.071429   9.214286
42                 Uruguay        NaN  86.752294  26.403670

In [10]:
engine=create_engine('mysql://root:1ASDjkl(@localhost/wine_db')
with engine.connect() as conn, conn.begin():
    wines_by_country.to_sql("country_ratings", conn, if_exists="replace")